body {
	background-color: rgb(88, 88, 88);
}

img {
	height: 300px;
	width: 300px;
}

#img-overlay {
    height: 298px;
    width: 98%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.arrow-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10%;
}

.circle-container{
    align-self: auto;
}
.circle-img{
    height: 20px;
    width: 20px;
    margin: 2px;
}

#img-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

.arrows {
	height: 30px;
	width: 30px;
}
.arrows:hover {
	border: 1px solid white;
}

/* Transitions */
.next-transition {
	transition: transform 450ms;
	transform: translateX(-60px);
}

.img-items {
	position: absolute;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.img-items.active {
	position: relative;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.transparent {
	opacity: 0;
}


