img {
    height: 300px;
    width: 300px;
}

#img-overlay{
    border: 2px solid blue;
    height: 298px;
    width: 98%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    overflow: hidden;
}


.arrows{
    height: 30px;
    width: 30px;
}
.arrows:hover{
    border: 1px solid white;
}


/* Transitions */
.next-transition{
    transition: transform 450ms;
    transform: translateX(-60px);
}

.img-items{
    visibility: hidden;
    position: absolute;
}

.img-items.active{
    visibility: visible;
    position: relative;
}